<script setup lang="ts">
import { useProductStore } from "@/stores/product";
const productStore = useProductStore();
</script>

<template>
  <v-row>
    <v-dialog v-model="productStore.confirmDialog">
      <v-card>
        <v-card-title class="text-center">
          <span class="text-h5">คุณต้องการลบใช่หรือไม่ ?</span>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="error"
            variant="text"
            @click="productStore.deleteProduct"
          >
            ลบ
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="productStore.confirmDialog = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
